@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100%;
}

body{
    background-color: var(--BgColor);
    position: relative;
}

:root{
    --BgColor: #181818;
    --nAColor: #202020;
}

main{
width: 85%;
margin-left: 15%;
margin-top: 110px;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
grid-template-rows: repeat(2,300px);
padding: 20px;
 grid-gap: 16px;
}

nav{
    background-color: var(--nAColor);
    display: flex;
    padding: 8px 16px;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.categories{
    z-index: 1;
    background-color: var(--nAColor);
    grid-column: 2/-1;
    border-bottom: 1px solid #373737;
    border-top: 1px solid #373737;
    display: flex;
    gap: 12px;
    padding: 8px;
    overflow: scroll;
    position: fixed;
    width:85% ;
top: 67px;
right: 0px;
}

aside{
    background-color: var(--nAColor);
    position: fixed;
    width:15% ;
    top: 67px;
    left: 0px;
    z-index: 10;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Home-Hambuger{
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin-right: 100px; */
}

.hambuger{
    padding: 8px;
    cursor: pointer;
}

.youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 4px;
    cursor: pointer;
}

.youtube h3{
    font-family: 'Fjalla One', sans-serif;
   color: #fff;
}

.search{
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    padding: 0 250px;
}

.searchBar{
    display: flex;
    background-color: #313131;
    border: 1px solid #313131;
    border-radius: 2px;
 
    flex-grow: 1;
}

.searchBar input{
    background-color: #121212;
    border: none;
    outline: none;
    padding-left: 8px;
    font-size: 16px;
    /* width: 100%; */
    flex-grow: 1;
}

.searchBar figure{
    cursor: pointer;
    padding: 5px 20px;

}

.searchBar input:hover{
    outline: 1px solid #7474f5;

}

.options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;

}

.option{
    width: 50px;
    height: 50px;
    background-color: red;
    padding: 20px;
}

.microphone{
    background-color: #121212;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.category{
    text-decoration: none;
    padding: 4px 12px;
    border: 1px solid #4B4B4B;
    border-radius: 20px;
    color: #fff;
    font-weight: normal;
    flex-shrink: 0;
    background-color: #373737;
}

.categories::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.category:hover{
    background-color: #525252b4;
}

.category.one{
    border: 1px solid #4B4B4B;
    color: #000;
    background-color: #fff  ;
    position: relative;
}

main .vidcard .thumbnail::after{
  position: absolute;
  content: '3:13';
  background-color: #00000098;
  bottom: 8px;
  right: 4px;
  padding: 4px 4px;
  font-size: 14px;

}

main .vidcard .thumbnail{
    position: relative;
}


main .vidcard .thumbnail img{
    background-color: #fff;
    width: 100%;
}

main .vidcard{
    background-color: #181818;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
}

.Details.main{
    
    display: flex;
    gap: 8px;
    padding: 0 10px;
    /* position: relative; */
}

.Details.main figure img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.Details.main .title{
        /* white-space: nowrap;  */
        width: 100%; 
        height: auto;
        /* overflow: hidden; */
        text-overflow: ellipsis; 
      
}
.Details.sub{
    padding: 0 55px;
    font-size: 12px;
    color: gray;
    font-weight:500;
}

.Details.sub .channel:hover{
    font-size: 12px;
    color: rgb(212, 212, 212);
    font-weight:700;
}

.stats{
    display: flex;
    gap: 10px;
}

.date::before{
    content: '';
    width: 3px;
    height: 3px;
    background-color: gray;
    position: absolute;
    top: 6px;
    left: -6px;
    border-radius: 50%;
}

.date{
    position: relative;
}






